<h1> <%= current_user.name  %>'s Wine Diary!</h1>

<b><a href="/wines/new">Log A New Wine</a></b>

<br></br>

<b><a href="/users/<%= current_user.id %>/diary">View Your Wine List</a></b>

<br></br>

<b><a href="/logout">Log Out</a></b>

<br></br>

