<div>
  <header><img src="images/WineGuy_BlueBackground.png" class="img-responsive main-image" height="450px"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Wine Guy!</h2>

    <div>
      <p>If you're a new user, please <b><a href="/signup">sign up</a></b> to start using the app.</p>
      <p>If you're a returning user, please <b><a href="/login">log in</a></b> to view your data.</p>
      <p>If you're uninterested in our service, please <b><a href="/goaway">go away</a></p>
    </div>

    
    
  </div>
</div>
