<div>
  <header><img src="images/WineGuy_BlueBackground.png" id="wineguy" class="wineguy" height="450px"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Wine Guy!</h2>

    <div>
      <p>Not a Wine Guy user? Please <b><a href="/signup">click here</a></b> to join Wine Guy</p>
      <p>Returning Wine Guy users, <b><a href="/login">log in</a></b> to view your wine.</p>
      <p>If you're uninterested in our service, please <b><a href="/goaway">go away</a></p>
    </div>

    
    
  </div>
</div>
