<h1>List of All Wines:</h1>

<ul><% Wine.all.each do |wine| %>
    <li><%= wine.name %> <%= wine.varietal %> added by: <%= wine.user%>
    <button class="btn" id="green"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i></button>
    <br></br>
    <% end %>
</ul>