<h1>List of All Wines:</h1>

<ul><% Wine.all.each do |wine| %>
    <%= wine.name %> <%= wine.varietal %> added by: 
        
        
        
        
        
        <form action="/like/<%= wine.id %>" method="post">
        <input type="submit" name="addwine" value="Add Wine to Diary" />
    </form>
    <br></br>
    <% end %>
    <a href="/">Return to Homepage</a>
</ul>