<h1>List of All Wines:</h1>

<ul><% Wine.all.each do |wine| %>
    <%= wine.name %> <%= wine.varietal %>
        
    <% if current_user.wines.include?(wine) %>  
        <form action="/wines/<%= wine.id %>/unlike" method="post">
        <button onclick= href="/wines/:id/unlike">
        Unlike
        </button>
        </form>
    <% else %>
        <form action="/wines/<%= wine.id %>/like" method="post">
            <button onclick= href="/wines/:id/like">
            Like
            </button>
            </form> 
    <% end %>
        
    <br></br>
    <% end %>
    <a href="/">Return to Homepage</a>
</ul>