<h1>Please fill out the form? That would be great</h1>

<form action="/wines/new" method="POST">

  <label for="name">Brand Name:</label>
  <input type="text" name="name" id="name"/>

  <br></br>

  <label for="country">Country:</label>
  <input type="text" name="country" id="country"/>

  <br></br>

  <label for="rating">Rating:</label>
  <input type="text" name="rating" id="rating"/>

  <br></br>

  <label for="price">Price:</label>
  <input type="float" name="price" id="price"/>

  <br></br>

  <label for="varietal">Varietal:</label>
  <input type="string" name="varietal" id="varietal"/>

  <br></br>

  <input type="submit" value="Record wine"/>
</form>