<h1> Your new wine: </h1>

<ul>
Brand name: <%= @wine.name %> 
<br></br>
Country of Origin: <%= @wine.country %> 
<br></br>
Price: <%= @wine.price %> 
<br></br>
Varietal: <%= @wine.varietal %> 
<br></br>
<a href = "wines/user_landing.html"> Back to User page </a>   <b><a href="/logout">Log out</a></b>
</ul>