<h1> Your Latest Entry: </h1>

<ul>
Brand Name: <%= @wine.name %> 
<br></br>
Country of Origin: <%= @wine.country %> 
<br></br>
Varietal: <%= @wine.varietal %> 
<br></br>
<a href="/users/<%= current_user.id %>/diary"> View All Of Your Entries </a> <a href = "/"> Back to User Page </a>   <b><a href="/logout">Log Out</a></b>
</ul>